<div class="loading">
  <div class="loading_icon"></div>
</div>
<div id="booking" class="section is-hide">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>レストランを探す</h1>
          </div>
          <form class="search-restaurant-form" onsubmit="return onSubmitSearchRestaurant(event)">
            <!-- 場所（elastic search??） -->
            <div class="col-xs-13">
              <div class="form-group">
                <input class="form-control" id="location" type="text" placeholder="場所" oninput="onInputLocation(event)" required>
                <span class="form-label">エリア・駅 (例: 渋谷、銀座)</span>
                <div id="location-choices" class="dropdown-content" />
              </div>
            </div>
            <!-- 食事タイプ -->
            <div class="col-xs-13">
              <div class="form-group">
                <select class="form-control" id="meal-type" oninput="onChangeMealType()" required>
                  <option value="" selected hidden>食事タイプ</option>
                  <option value="lunch">ランチ</option>
                  <option value="dinner">ディナー</option>
                </select>
                <span class="select-arrow"></span>
                <span class="form-label">ランチ or ディナー</span>
              </div>
            </div>
            <!-- 予算 -->
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <select class="form-control" id="lower-budget" placeholder="予算(下限)" onchange="onChangeLowerBudget()" required>
                    <option value="" selected hidden>予算(上限)</option>
                    <option value="0">指定なし</option>
                    <% (1..10).each do |i| %>
                      <option value=<%= "#{i}000" %>><%= "¥#{i},000"%></option>
                    <% end %>
                  </select>
                  <span class="select-arrow"></span>
                  <span class="form-label">予算(下限)</span>
                </div>
              </div>
              <span id="budget-arrow"> ~ </span>
              <div class="col-xs-6">
                <div class="form-group">
                  <select class="form-control" id="upper-budget" placeholder="予算(上限)" onchange="onChangeUpperBudget()" required>
                    <option value="" selected hidden>予算(上限)</option>
                    <option value="0">指定なし</option>
                    <% (1..15).each do |i| %>
                      <% unless [1, 11, 13].include?(i) %>
                        <option value=<%= "#{i}000" %>><%= "¥#{i},000" %></option>
                      <% end %>
                    <% end %>
                  </select>
                  <span class="select-arrow"></span>
                  <span class="form-label">予算(上限)</span>
                </div>
              </div>
            </div>
            <!-- ジャンル -->
            <div class="col-xs-13">
              <div class="form-group meal-genre-form-group">
                <input class="form-control meal-genre" id="meal-genre" type="text" placeholder="ジャンル" onclick="onClickMealGenre()" onchange="onChangeMealGenre(event)">
                <span class="form-label">ジャンルを記入(例: もつ鍋、居酒屋) or 選択</span>
                <div class="genre-bar">
                  <a href="javascript:void(0);" class="icon" onclick="onClickGenreBar()">
                    <i class="fa fa-bars"></i>
                  </a>
                </div>
                <div id="genres">
                  <div id="genre-selection-text">0 個選択</div>
                  <!-- <span class="form-label">5つまで選択できます</span> -->
                  <% genres = ["指定なし", "和食店・和食レストラン", "天ぷら・揚げ物", "丼もの", "居酒屋・飲み屋", "焼き鳥", "そば・うどん", "ラーメン屋・つけ麺・油そば", "海鮮・寿司", "鍋料理店", "焼肉屋・ホルモン焼き", "イタリアン", "フレンチ", "スペイン料理", "カレー", "中華料理店", "洋食屋", "アジア・エスニック料理店", "バー・バル","カフェ・スイーツの店"] %>
                  <% genres.each do |genre| %>
                    <button class="genre-button" id="<%= genre %>" onclick="onClickMealGenreElement(event)" onkeyup="onKeyDownMealGenreElement(event)"><%= genre %></button>
                  <% end %>
                </div>
              </div>
            <!-- 用途　追加予定 -->

            <!-- その他要望　追加予定 -->

            <div class="form-btn" id="search-button">
              <button class="submit-btn" type="submit">Search!</button>
            </div>

            <div class="form-btn" id="reset-form" onclick="onResetSearchRestaurant()">
              <button class="reset-btn">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.form-control').each(function () {
      floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
      floatedLabel($(this));
    });

    function floatedLabel(input) {
      var $field = input.closest('.form-group');
      if (input.val()) {
        $field.addClass('input-not-empty');
      } else {
        $field.removeClass('input-not-empty');
      }
    }
  });
</script>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
