<div class="r-data-set-view">

  <div class="r-data-set-info">
    <div class="r-data-set-info-header">
      <div class="r-data-set-title">
        <%= @restaurant_data_set.title %>
      </div>

      <!-- position: absolute;
    right: 30 rem;-->
      <!-- %= link_to "マイリスト", restaurant_data_sets_path, class: "btn btn-outline-warning waves-effect" %> -->
      <div class="action-buttons">
        <div class="send-text-wrapper" onclick="onClickSendTextButton(event)">
          <a class="send-text-button" href="#" rel="noopener noreferer">
            <i class="fab fa-line"></i>
            <span class="send-text-text">LINEで送る</span>
          </a>
        </div>

        <div class="delete-data-set-wrapper">
          <a class="delete-data-set-button" href="#" rel="noopener noreferer" data-toggle="modal" data-target="#deleteDataSetModal">
            <i class="far fa-trash-alt"></i>
            <span class="delete-data-set-text">削除</span>
          </a>
        </div>

        <div class="modal fade" id="deleteDataSetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
              <form name="message-submit-form" onsubmit="return onSubmitDeleteRDS(event)">
                <input type="hidden" name="restaurant_data_set_id" value=<%= @restaurant_data_set_id %> />

                <div class="modal-header text-center" style="background: red !important;">
                  <h4 class="modal-title white-text w-100 font-weight-bold py-2">Warning</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  このリストを消去しても良いですか？
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-outline-warning waves-effect delete-rds-btn">消去 <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-outline-warning waves-effect send-text"><i class="fab fa-line" style="color: green"></i>テキスト形式</button> -->
    <h5 class="r-data-set-count-pc" style="text-align: center">全 <%=@selected_restaurants.count %> 件のリスト</h5>

    <div class="r-data-set-detail">
      <div class="r-data-set-detail-row">
        <div class="r-data-set-detail-component">
          <div class="r-data-set-detail-molecule-title"><i class="fas fa-map-marker-alt" style="width: 1.5rem; padding: 1px; color: #E06650"></i>場所</div>
          <div class="r-data-set-detail-molecule-content location" style="font-size: 12px !important"><%= @search_history.location.name %></div>
        </div>
        <div class="r-data-set-detail-component">
          <div class="r-data-set-detail-molecule-title"><i class="fas fa-utensils" style="width: 1.5rem; padding: 1px; color: orange"></i>食事タイプ</div>
          <div class="r-data-set-detail-molecule-content">
            <% if @search_history.dinner?%>
              <i class="fas fa-moon" aria-hidden="true" style="padding: 1px; margin-right: 0.5rem; background-color: #326AA2; color: white"></i>ディナー
            <% else %>
              <i class="fas fa-sun" aria-hidden="true" style="padding: 1px; margin-right: 0.5rem;background-color: #CB8131; color: white"></i>ランチ
            <% end %>
          </div>
        </div>
        <div class="r-data-set-detail-component">
          <div class="r-data-set-detail-molecule-title"><i class="fas fa-yen-sign" style="width: 1.5rem; padding: 1px; color: green"></i>予算</div>
          <div class="r-data-set-detail-molecule-content"><%= @search_history.lower_budget == 0 ? "指定なし" : @search_history.lower_budget.format %> ~ <%= @search_history.upper_budget == 0 ? "指定なし" : @search_history.upper_budget.format %><!-- 2000~5000 --></div>
        </div>
      </div>

      <div class="r-data-set-detail-row">
        <div class="r-data-set-detail-component">
          <div class="r-data-set-detail-molecule-title"><i class="fas fa-align-left" style="width: 1.5rem; padding: 1px; color: gray"></i>ジャンル</div>

          <% if JSON.parse(@search_history.master_genres).count > 5 %>
            <div class="r-data-set-detail-molecule-content indent">
              <% JSON.parse(@search_history.master_genres).each do |genre| %>
                <div class="r-data-set-detail-molecule-content-tags"><%= genre %></div>
              <% end %>
              <% if @search_history.custom_meal_genres %>
                <% JSON.parse(@search_history.custom_meal_genres).each do |genre| %>
                  <div class="r-data-set-detail-molecule-content-tags"><%= genre %></div>
                <% end %>
              <% end %>
            </div>

          <% else %>
            <div class="r-data-set-detail-molecule-content">
              <% JSON.parse(@search_history.master_genres).each do |genre| %>
                <div class="r-data-set-detail-molecule-content-tags"><%= genre %></div>
              <% end %>
              <% if @search_history.custom_meal_genres %>
                <% JSON.parse(@search_history.custom_meal_genres).each do |genre| %>
                  <div class="r-data-set-detail-molecule-content-tags"><%= genre %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <h4 class="r-data-set-count-mobile">
    全 <%=@selected_restaurants.count %> 件のリスト 
  </h4>
  <div class="restaurants">
    <% @selected_restaurants.each do |restaurant|%>
      <!-- <div class="restaurant"> -->
      <button class="restaurant" type="button" name="restaurant-id" value="<%= restaurant[:id]%>" onclick="onClickRestaurant(event, 'selectedSendRestaurantIds')" disabled>
        <div class="contents">
          <div class="restaurant-header">
            <div class="send-select-icon" style="display: none">
              <i class="far fa-check-circle"></i>
            </div>
            <div class="shop-name"><span class="shop-name-decorator"></span><%= restaurant[:name] %></div>
            <div class="sub-header">
              <div class="location">
                <i class="fas fa-map-marker-alt" style="width: 2rem; padding: 1px; color: #E06650"></i><%= restaurant[:area_genre].split(" / ")[0]%>
              </div>
              <div class="category">
                <i class="fa fa-list-ul" aria-hidden="true" style="width: 2rem; padding: 1px; color: dimgray"></i><%= restaurant[:area_genre].split(" / ")[1] %>
              </div>
              <div class="redirect-link">
                <i class="fas fa-link" style="width: 2rem; padding: 1px; color: #33CCFF"></i><a href="<%= restaurant["redirect_url"] %>" target="_blank" onclick="onClickRedirectUrl(event); return false;">レストランのリンク</a>
              </div>
            </div>
          </div>
          <div class="restaurant-pics">
            <% restaurant["thumbnail_image_urls"][0..7].each do |url| %>
              <img class="lozad restaurant-pic" src="" data-src=<%= url.split("/")[0..-2].join("/") + "/150x150_square_" + url.split("/")[-1] %> />
            <% end %>
          </div>
          <div class="sub-contents">
            <div class="reputation">
              <div class="star-rating">
                <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="rating-text"><%= restaurant[:rating] %></div>
            </div>
            <div class="budget">
              <div class="lunch-budget">
                <i class="fas fa-sun" aria-hidden="true" style="padding: 1px; background-color: #CB8131; color: white"></i> <%= Money.new(restaurant[:lunch_budget][0]).format %> ~ <%= Money.new(restaurant[:lunch_budget][1]).format %></div>
              <div class="evening-budget">
                <i class="fas fa-moon" aria-hidden="true" style="padding: 1px; background-color: #326AA2; color: white"></i> <%= Money.new(restaurant[:dinner_budget][0]).format %> ~ <%= Money.new(restaurant[:dinner_budget][1]).format %>
              </div>
            </div>
          </div>
        </div>
      </button>
    <% end %>

    <% if @selected_restaurants.count > 9 %>
      <a href="#" id="loadMore" onclick="onClickLoadMore(event)">次の10件<br>表示件数 <span id="display-count">9</span> / <%= @selected_restaurants.count %></a>
    <% else %>
      <a href="#" class="noContent" id="loadMore">No Content</a>
    <% end %>
  </div>
</div>


<% if @selected_restaurants.count > 15 %>
  <nav class="navbar navbar-inverse navbar-fixed-bottom send-rds" style="display: none">
    <div class="alert-danger max-restaurants-alert" style="display: none">選択できるレストランの上限数は15個です。</div>

    <button class="send-partial-button-n1" type="button" data-toggle="modal" data-target="#selectMessageDestinationModal" onclick="onClickSendPartialButton(event)">
      <span class="selected-send-restaurants-count">0</span> 個のレストランを送信
    </button>
  </nav>
<% else %>
  <nav class="navbar navbar-inverse navbar-fixed-bottom send-rds" style="display: none">
    <button class="send-partial-button" type="button" data-toggle="modal" data-target="#selectMessageDestinationModal" onclick="onClickSendPartialButton(event)">
      <span class="selected-send-restaurants-count">0</span> 個選択
    </button>

    <button class="send-all-button" type="button" data-toggle="modal" data-target="#selectMessageDestinationModal" onclick="onClickSendAllButton()">
      全てを送信
      <!-- <span class="selected-restaurants-count">1</span> 個のリストを送信する -->
    </button>
  </nav>
<% end %>

<div class="modal fade" id="selectMessageDestinationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <form name="message-submit-form" onsubmit="return onSubmitSendRestaurantDataSet(event)">
        <input type="hidden" name="restaurant_data_set_id" value=<%= @restaurant_data_set_id %> />

        <div class="modal-header text-center">
          <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            メッセージの送信
          </h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <div class="alert-danger select-destination-alert" style="display: none">送信先を選択してください</div>
        <div class="alert-danger select-message-type-alert" style="display: none">メッセージタイプを選択してください</div>
        <div class="modal-body">
          <div class="md-form mb-5 line-btn-container" style="height: 3rem; border-bottom: 1px solid #E5E5E5; margin-bottom: 1rem">
            <span style="font-color: #E5E5E5">メッセージを送信するには、友達登録をする必要があります。</span>
            <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="@115qomxr" style="display: none;"></div>
          </div>

          <div class="md-form mb-5">
            <!-- <i class="fas fa-user prefix grey-text"></i> -->
            <label data-error="wrong" data-success="right" for="form3">送信先の選択</label>

            <div class="control-group">
              <div data-toggle="collapse" data-target="#message-option-menu-chat-unit" aria-expand="false" aria-control="message-option-modal" onclick="onClickSendToChatUnitMenu(event)">
              <!-- <div class="toggle" data-target="#message-option-menu"> -->
                <label class="control control--radio d-chat"><%= current_chat_unit.chat_type == "user" ? current_chat_unit.user.name : "このチャネル" %>
                  <input type="radio" name="destination" value="current_chat_unit" required />
                  <div class="control__indicator"></div>
                </label>
              </div>
              <div class="collapse" id="message-option-menu-chat-unit">
              <!-- <div id="message-option-menu"> -->
                <div class="card-body">
                  メッセージタイプの選択
                  <div class="message-option-labels">

                    <div class="message-option-label">
                      <label class="control control--radio"><span style="margin-top: 1px">カルーセル</span>
                        <input type="radio" name="message-type" value="carousel"/>
                        <div class="control__indicator"></div>
                      </label>
                    </div>

                    <div class="message-option-label">
                      <label class="control control--radio">テキスト
                        <input type="radio" name="message-type" value="text"/>
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <% if current_chat_unit.chat_type != "user" %>
                <div data-toggle="collapse" data-target="#message-option-menu-user" aria-expand="false" aria-control="message-option-modal" onclick="onClickSendToUserMenu(event)">
                  <label class="control control--radio d-chat"><%= current_chat_unit.user.name %>
                    <input type="radio" name="destination" value="current_chat_user" />
                    <div class="control__indicator"></div>
                  </label>
                </div>
                <div class="collapse" id="message-option-menu-user">
                  <div class="card card-body">
                    メッセージタイプの選択
                    <div class="message-option-labels">

                      <div class="message-option-label">
                        <label class="control control--radio"><span style="margin-top: 1px">カルーセル</span>
                          <input type="radio" name="message-type" value="carousel"/>
                          <div class="control__indicator"></div>
                        </label>
                      </div>

                      <div class="message-option-label">
                        <label class="control control--radio">テキスト
                          <input type="radio" name="message-type" value="text"/>
                          <div class="control__indicator"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>


              <div data-toggle="collapse" data-target="#message-option-menu-other-chat" aria-expand="false" aria-control="message-option-modal" onclick="onClickSendToOtherChatMenu()">
                <label class="control control--radio d-chat">その他のチャットに送る
                  <input type="radio" name="destination" value="custom_chat"/>
                  <div class="control__indicator"></div>
                </label>
              </div>

              <div class="collapse" id="#">
                <div class="card card-body">
                  クリップボードにテキスト形式のメッセージを貼り付けてあるので、遷移先で貼り付けて送信してください。
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-warning waves-effect">送信 <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
      </form>

    </div>
    <!--/.Content-->
  </div>
</div>